.card {
  width: 200px;
  height: 150px;
  border-radius: 15px;
  border: 2px solid var(--black);
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  color: var(--black);
  background-size: cover;
  background-position: center;
  background-color: var(--secondary-blue);
  margin: 10px;
}

.category-name {
  font-size: 1.5rem;
}

