<app-user-bar></app-user-bar>
<div class="category-container">

<app-question-category-card
  categoryName="Mathematics"
  backgroundImage="url_to_your_image.jpg"
></app-question-category-card>
  <app-question-category-card
    categoryName="Science"
    backgroundImage="url_to_your_image.jpg"
></app-question-category-card>
  <app-question-category-card
    categoryName="History"
    backgroundImage="url_to_your_image.jpg"
></app-question-category-card>
<app-question-category-card
    categoryName="Literature"
    backgroundImage="url_to_your_image.jpg"
></app-question-category-card>
<app-question-category-card
    categoryName="Art"
    backgroundImage="url_to_your_image.jpg"
></app-question-category-card>
<app-question-category-card
    categoryName="Music"
    backgroundImage="url_to_your_image.jpg"
></app-question-category-card>
<app-question-category-card
    categoryName="Sports"
    backgroundImage="url_to_your_image.jpg"
></app-question-category-card>
<app-question-category-card
    categoryName="Geography"
    backgroundImage="url_to_your_image.jpg"
></app-question-category-card>
<app-question-category-card
    categoryName="Technology"
    backgroundImage="url_to_your_image.jpg"
></app-question-category-card>
<app-question-category-card
    categoryName="Philosophy"
    backgroundImage="url_to_your_image.jpg"
></app-question-category-card>
<app-question-category-card
    categoryName="Politics"
    backgroundImage="url_to_your_image.jpg"
></app-question-category-card>
<app-question-category-card
    categoryName="Economics"
    backgroundImage="url_to_your_image.jpg"
></app-question-category-card>
<app-question-category-card
    categoryName="Biology"
    backgroundImage="url_to_your_image.jpg"
></app-question-category-card>
<app-question-category-card
    categoryName="Chemistry"
    backgroundImage="url_to_your_image.jpg"
></app-question-category-card>
<app-question-category-card
    categoryName="Physics"
    backgroundImage="url_to_your_image.jpg"
></app-question-category-card>

</div>
<router-outlet></router-outlet>
