<div class="container">
<div class="profile-container">
  <div class="profile-sidebar">
    <div class="profile-icon">
      <div class="icon-circle">
        <span class="icon-text">4</span>
      </div>
    </div>
    <div class="profile-info">
      <h2 class="profile-name">EvyAK</h2>
      <p class="profile-fullname">Evy<br>Andrez Klein</p>
    </div>
    <div class="settings-icon">
      <fa-icon [icon]="faCog"></fa-icon>
    </div>
  </div>
  <div class="profile-content">
    <div class="subject-card green">
      <h3>FRANÇAIS</h3>
      <p>Plus grande suite sans faute:<br><strong>11</strong></p>
    </div>
    <div class="subject-card green">
      <h3>HISTOIRE</h3>
      <p>Plus grande suite sans faute:<br><strong>9</strong></p>
    </div>
    <div class="subject-card blue">
      <h3>MATHS</h3>
      <p>Plus grande suite sans faute:<br><strong>11</strong></p>
    </div>
    <div class="subject-card green">
      <h3>GÉOGRAPHIE</h3>
      <p>Plus grande suite sans faute:<br><strong>1</strong></p>
    </div>
    <div class="subject-card green">
      <h3>ANGLAIS</h3>
      <p>Plus grande suite sans faute:<br><strong>3</strong></p>
    </div>
    <div class="subject-card blue">
      <h3>PHYSIQUE</h3>
      <p>Plus grande suite sans faute:<br><strong>7</strong></p>
    </div>
    <div class="subject-card blue">
      <h3>TECHNOLOGIE</h3>
      <p>Plus grande suite sans faute:<br><strong>9</strong></p>
    </div>
    <div class="subject-card green">
      <h3>SVT</h3>
      <p>Plus grande suite sans faute:<br><strong>11</strong></p>
    </div>
    <div class="subject-card red">
      <h3>MES QUESTIONS</h3>
      <p>Plus grande suite sans faute:<br><strong>3</strong></p>
    </div>
  </div>
  <button class="theme-toggle-button" (click)="toggleTheme()">Change Theme</button>
</div>
</div>
